<div class="container">
  <div *ngIf="!isLoggedIn">
    <h2>Witaj w aplikacji</h2>
    <p>
      Aby korzystać z wszystkich funkcjonalności aplikacji musisz posiadać i być
      zalogowany na konto w aplikacji
    </p>
    <button mat-button routerLink="sign-in">Zaloguj się</button>
    <button mat-button routerLink="sign-up">Stwórz konto</button>
  </div>
  <div *ngIf="isLoggedIn">
    <h2>Welcome {{ username }}!</h2>
    <p>Who are you?</p>
    <button mat-button routerLink="pets">Pet Owner</button>
    <br /><br /><br />
    <button mat-button (click)="logout()">Log Out</button>
  </div>
</div>
