<div class="container">
  <button (click)="open()" mat-raised-button color="primary">
    Dodaj Rejestr
  </button>
  <div class="modal" id="modal">
    <div class="modal-header">
      <h1>Informację o rejestrze</h1>
      <button (click)="addGroupToggle()" mat-button>&times;</button>
    </div>
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Skrócona nazwa</mat-label>
        <input matInput placeholder="" [(ngModel)]="rejestr.nazwa_skrocona" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pełna nazwa</mat-label>
        <input matInput placeholder="" [(ngModel)]="rejestr.nazwa_pelna" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Identyfikator dysponenta:</mat-label>
        <textarea
          matInput
          [(ngModel)]="rejestr.dysponent_id"
        ></textarea></mat-form-field
      ><br />
      <mat-form-field appearance="fill">
        <mat-label>Podstawa prawna:</mat-label>
        <textarea
          matInput
          [(ngModel)]="rejestr.podstawa_prawna"
        ></textarea></mat-form-field
      ><br />
      <mat-form-field appearance="fill">
        <mat-label>Przeznaczenie rejestru:</mat-label>
        <textarea
          matInput
          [(ngModel)]="rejestr.przeznaczenie"
        ></textarea></mat-form-field
      ><br />
      <mat-form-field appearance="fill">
        <mat-label>Zakres Informacji:</mat-label>
        <textarea
          matInput
          [(ngModel)]="rejestr.zakres_info"
        ></textarea></mat-form-field
      ><br />
      <mat-form-field appearance="fill">
        <mat-label>Liczba atrybutów</mat-label>
        <input
          matInput
          type="number"
          placeholder=""
          [(ngModel)]="rejestr.atrybuty_liczba"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Liczba obiektów</mat-label>
        <input
          matInput
          type="number"
          placeholder=""
          [(ngModel)]="rejestr.obiekty_liczba"
        />
      </mat-form-field>
      <br />
    </div>
    <button (click)="submitForm()" mat-raised-button color="primary">
      Modyfikuj Rejestr
    </button>
  </div>
  <div *ngFor="let rej of rejestry" id="content" #content>
    <hr />
    <div class="header">
      <h3>Pełna nazwa rejestru:</h3>
      <button
        id="{{ rej.pk }}"
        (click)="modify(rej)"
        mat-raised-button
        color="primary"
      >
        Edytuj
      </button>
    </div>
    <p>{{ rej.nazwa_pelna }}</p>
    <h5>Skrócona nazwa rejestru:</h5>
    <p>{{ rej.nazwa_skrocona }}</p>
    <h5>Identyfikator dysponenta rejestru:</h5>
    <p>{{ rej.dysponent_id }}</p>
    <h5>Podstawa prawna prowadzenia rejestru:</h5>
    <p>{{ rej.podstawa_prawna }}</p>
    <h5>Przeznaczenie rejestru:</h5>
    <p>{{ rej.przeznaczenie }}</p>
    <h5>Zakres informacji w rejestrze:</h5>
    <p>{{ rej.zakres_info }}</p>
    <h5>Liczba atrybutów w rejestrze:</h5>
    <p>{{ rej.atrybuty_liczba }}</p>
    <h5>Liczba obiektów w rejestrze:</h5>
    <p>{{ rej.obiekty_liczba }}</p>
  </div>
  <div id="overlay"></div>
</div>
