<div class="container">
  <div *ngIf="!token" class="form">
    <h1>Zaloguj:</h1>
    <mat-form-field appearance="fill">
      <mat-label>Nazwa użytkownika</mat-label>
      <input
        matInput
        name="login-username"
        [(ngModel)]="user.username"
      /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input
        type="password"
        matInput
        name="login-password"
        [(ngModel)]="user.password"
      /> </mat-form-field
    ><br />
    <button (click)="login()" mat-stroked-button color="primary">
      Zaloguj
    </button>
    <p>{{ error }}</p>
  </div>

  <div *ngIf="token">
    <div>
      <h1>Jesteś już zalogowany jako: {{ name }}.</h1>
      <br />
      <button mat-button (click)="logout()" class="btn btn-primary">
        Wyloguj</button
      >&nbsp; &nbsp;
    </div>
  </div>
</div>
