<div class="container">
  <div *ngIf="!token" class="form">
    <h1>Stwórz konto:</h1>
    <mat-form-field appearance="fill">
      <mat-label>Nazwa użytkownika</mat-label>
      <input
        matInput
        name="login-username"
        [(ngModel)]="user.username"
      /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input
        type="password"
        matInput
        name="login-password"
        [(ngModel)]="user.password"
      /> </mat-form-field
    ><br />
    <button (click)="login()" mat-stroked-button color="primary">
      Rejestracja
    </button>
    <button routerLink="../sign-in" color="primary" mat-button>
      Już posiadasz konto?
    </button>
  </div>

  <div *ngIf="token">
    <div>
      <h1>You are logged in as {{ name }}.</h1>
      <br />
      <button (click)="logout()" class="btn btn-primary">Log Out</button>&nbsp;
    </div>
  </div>
</div>
